# IDE settings
.vscode/

# Virtual environments
venv/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Data files
data/
cifar-*/
*.tar.gz

# Logs
logs/
*.log
*.txt

# Results and models
results/
*.csv
*.pth

# Miscellaneous
TODO.md

# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb